.user-details {
  img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 12px 12px 0;
  }

  .posts {
    padding: 0;
    margin: 0;
    list-style: none;

    .post {
      padding: 12px 0;
      border-bottom: 1px solid #ddd;

      &:first-child {
        border-top: 1px solid #ddd;
      }
    }
  }
}
