<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="'Ask a new question | ' + #{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/bundle.css" th:href="@{/bundle.css}" type="text/css" />
  </head>
  <body>

    <header th:replace="fragments/header.html">
      <h1><a href="../" th:href="@{/}">Tiple</a></h1>
      <div class="auth-menus">
        <span sec:authentication="name" th:remove="tag">USER_NAME</span>
        <form action="/" th:action="@{/logout}" method="post">
          <button class="btn">Log out</button>
        </form>
      </div>
    </header>

    <div class="main">

      <h2>Ask a new question</h2>

      <form class="form" th:action="@{/q}" method="post">
        <label for="title">Title</label><input id="title" type="text" name="title"/>
        <label for="content">Content</label><textarea id="content" name="content"></textarea>
        <label for="tags">Tags</label><input id="tags" type="text" name="tags"/>
        <input class="btn btn-primary" type="submit" value="Ask new question" />
      </form>

    </div><!--/* main */-->

    <div class="side">
      <h2>Recently updated</h2>
      <ul>
        <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
      </ul>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
