<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="'All Questions | ' + #{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/bundle.css" th:href="@{/bundle.css}" type="text/css" />
  </head>
  <body>

    <header th:replace="fragments/header.html">
      <h1><a href="../" th:href="@{/}">Tiple</a></h1>
      <div class="auth-menus">
        <span sec:authentication="name" th:remove="tag">USER_NAME</span>
        <form action="/" th:action="@{/logout}" method="post">
          <button class="btn">Log out</button>
        </form>
      </div>
    </header>

    <div class="main">

      <h2>All questions</h2>

      <ul class="questions">
        <li class="question" th:each="question : ${questions}">
          <div class="status answered">
            <div class="middle-box">
              x
            </div>
          </div>
          <div class="ans-counts">
            <div class="middle-box">
              <span th:text="${question.answersCount}">1</span><br>
              answers
            </div>
          </div>
          <div class="summary">
            <h3><a href="show.html" th:href="@{'/q/' + ${question.id}}" th:text="${question.title}">TITLE</a></h3>
            <div class="meta">
              <ul class="tags" th:remove="all-but-first">
                <li th:each="tag : ${question.tags}"><a href="index.html" th:href="@{'/q?tag=' + ${tag.name}}" th:text="${tag.name}">TAG1</a></li>
                <li><a href="index.html">TAG2</a></li>
              </ul>
              <div class="right">
                <a th:text="${question.createdBy.id}" th:href="@{'/users/' + ${question.createdBy.id}}">USER</a>
                <span th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd HH:mm')}">POSTED_AT</span>
              </div>
            </div>
          </div>
        </li>
        <li class="question">
          <div class="status answered">
            <div class="middle-box">
              x
            </div>
          </div>
          <div class="ans-counts">
            <div class="middle-box">
              <span>2</span><br>
              answers
            </div>
          </div>
          <div class="summary">
            <h3><a href="show.html">TITLE2</a></h3>
            <div class="meta">
              <ul class="tags" th:remove="all-but-first">
                <li><a href="index.html">TAG1</a></li>
                <li><a href="index.html">TAG2</a></li>
              </ul>
              <div class="right">
                <a>USER_2</a>
                <span>YYYY_MM_DD</span>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <nav class="pagination">
        <ul>
          <li><a href="#">Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><span>...</span></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

    </div><!--/* main */-->

    <div class="side">
      <h2>Recently updated</h2>
      <ul>
        <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
      </ul>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
