<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.keik.tiple.repository.AnswerRepository">

  <select id="getByQuestionsId" resultMap="getByQuestionId-map">
    SELECT answer.id, answer.content, user.id as uid, answer.created_at from answer
    JOIN question ON answer.answer_for = question.id
    JOIN user ON answer.created_by = user.id
    WHERE question.id = #{qid}
  </select>
  <resultMap id="getByQuestionId-map" type="info.keik.tiple.model.Answer">
    <id property="id" column="answer.id" />
    <result property="content" column="answer.content" />
    <result property="createdBy.id" column="uid" />
    <result property="createdAt" column="answer.created_at" />
  </resultMap>

  <!--
  <insert id="add">
    INSERT INTO answer (answer_for, content, created_by) VALUES (#{}, #{}, #{})
  </insert>
  -->

</mapper>
