<span class="modeless-close" style="position: absolute; top: 8px; right: 8px;">×</span>
<p>
  You need to log in to ask question, post answer, or vote.
</p>
<form class="form" action="/session?redirect=<%- redirectUrl %>" method="post" style="position: relative; width: 400px">
  <div>
    <label>ID</label>
    <input type="text" name="id" />
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password" />
  </div>
  <input class="btn btn-default" type="submit" value="Log in" />
</form>
