<header>
  <h1><a href="home.html" th:href="@{/}">Tiple</a></h1>

  <!--/* Log in or Log out */-->
  <div class="auth-menus" sec:authorize="hasAnyRole('ROLE_USER')">
    <span sec:authentication="name" th:remove="tag">USER_NAME</span>
    <form action="/" th:action="@{/logout}" method="post">
      <button class="btn">Log out</button>
    </form>
  </div>
  <div class="auth-menus" sec:authorize="!hasAnyRole('ROLE_USER')">
    <a class="btn btn-primary" href="signup.html" th:href="@{/signup}">Sign up</a>
    <a class="btn btn-default" href="login.html" th:href="@{/login}">Log in</a>
  </div>

</header>
