<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="'Sign up | ' + #{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}" type="text/css" />
  </head>
  <body>

    <header th:replace="fragments/header.html">
      <!--#include virtual="fragments/header.html" -->
    </header>

    <form class="centered-box" action="index.html" th:action="@{/users}" method="post">
      <section>
        <h3>Sign up</h3>
        <ul>
          <li>
            <label for="name">Username</label><input id="name" type="text" name="name" placeholder="username" />
          </li>
          <li>
            <label for="email">Email</label><input id="email" type="text" name="email" placeholder="Email" />
          </li>
          <li>
            <label for="password">Password</label><input id="password" type="password" name="password" placeholder="password" />
          </li>
          <li>
            <label></label><input class="btn" type="submit" value="Sign up" />
          </li>
        </ul>
      </section>
    </form>

    <footer th:replace="fragments/footer.html">
      <!--#include virtual="fragments/footer.html" -->
    </footer>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
