textarea {
  display: block;
}

.form {
  h2 {
    margin: 0 0 12px 0;
  }
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  input[type=text], input[type=password], textarea {
    display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  textarea {
    height: 6em;
  }

  &.form-centered {
    width: 400px;
    margin: 80px auto;
  }
}
