html {
  font-size: 12px;
}

body {
  margin: 0;
}

header {
  height: 48px;
  background-color: #444;
  h1 {
    display: inline-block;
    margin: 0 12px;
    color: #eaeaea;
    font-size: 24px;
    line-height: 48px;
  }

  .auth-menus {
    height: 32px;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
  }
}

.side {
  position: fixed;
  width: @width-of-side;
}

.main {
  margin-left: @width-of-side;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 4px 0;
  width: 100%;
  color: #eaeaea;
  text-align: center;

  background-color: #444;
}
