html {
  font-size: 12px;
}

body {
  margin: 0;
}

header {
  height: @height-of-header;
  background-color: #444;
  h1 {
    display: inline-block;
    margin: 0 12px;
    color: #eaeaea;
    font-size: 24px;
    line-height: @height-of-header;

    a {
      color: #eaeaea;
      text-decoration: none;
    }
  }

  .auth-menus {
    height: @height-of-header - 8px * 2;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
  }
}

.main {
  margin-right: @width-of-side;
}

.side {
  position: fixed;
  top: @height-of-header;
  right: 0;
  width: @width-of-side;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 4px 0;
  width: 100%;
  color: #eaeaea;
  text-align: center;

  background-color: #444;
}
