<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="(${#strings.isEmpty(tag)}? 'All Questions' : 'Newest \'' + ${tag} + '\' Questions') + ' | ' + #{app.name}">All Questions | APP_NAME</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="../../fonts/css/font-awesome.css" th:href="@{/fonts/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <link href="../../static/bundle.css" th:href="@{/bundle.css}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <header th:replace="fragments/header.html">
      <h1><a href="../" th:href="@{/}">Tiple</a></h1>
      <div class="auth-menus">
        <span sec:authentication="name" th:remove="tag">USER_NAME</span>
        <form action="/" th:action="@{/logout}" method="post">
          <button class="btn">Log out</button>
        </form>
      </div>
    </header>

    <div class="content">
      <div class="main">

        <h2>
          <span th:text="${#strings.isEmpty(tag)}? 'All Questions' : 'Newest \'' + ${tag} + '\' Questions'" th:remove="tag">All Questions</span>
        </h2>

        <ul class="questions" th:remove="all-but-first">
          <li class="question" th:each="question : ${questions}">
            <div class="stats">
              <div class="middle-box">
                <span class="stats-count" th:text="TODO">10</span>
                <span class="stats-label">votes</span>
              </div>
              <div class="middle-box">
                <span class="stats-count" th:text="${question.answersCount}">20</span>
                <span class="stats-label">answers</span>
              </div>
              <div class="middle-box">
                <span class="stats-count" th:text="TODO">30</span>
                <span class="stats-label">view</span>
              </div>
            </div>
            <div class="summary">
              <h3><a href="show.html" th:href="@{'/q/' + ${question.id}}" th:text="${question.title}">QUESTION_1</a></h3>
              <div class="meta">
                <ul class="tags" th:remove="all-but-first">
                  <li th:each="tag : ${question.tags}"><a href="index.html" th:href="@{'/q?tag=' + ${tag.name}}" th:text="${tag.name}">TAG_1</a></li>
                  <li><a href="index.html">TAG_2</a></li>
                </ul>
                <div class="right">
                  <span th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd HH:mm')}">asked YYYY_MM_DD</span>
                  <a href="../users/show.html" th:text="${question.createdBy.id}" th:href="@{'/users/' + ${question.createdBy.id}}">USER_1</a>
                </div>
              </div>
            </div>
          </li>
          <li class="question">
            <div class="stats">
              <div class="middle-box">
                <span class="stats-count">40</span>
                <span class="stats-label">votes</span>
              </div>
              <div class="middle-box">
                <span class="stats-count">50</span>
                <span class="stats-label">answers</span>
              </div>
              <div class="middle-box">
                <span class="stats-count">60</span>
                <span class="stats-label">view</span>
              </div>
            </div>

            <div class="summary">
              <h3><a href="show.html">QUESTION_2</a></h3>
              <div class="meta">
                <ul class="tags" th:remove="all-but-first">
                  <li><a href="index.html">TAG_1</a></li>
                  <li><a href="index.html">TAG_2</a></li>
                </ul>
                <div class="right">
                  <span>asked YYYY_MM_DD</span>
                  <a href="../users/show.html">USER_2</a>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <nav class="pagination">
          <ul>
            <li th:if="${page > 1}"><a href="#" th:href="@{'/q?page=' + ${page - 1} +'&page_size=' + ${pageSize}}">Prev</a></li>
            <li th:if="${page > 3}"><a href="#" th:href="@{'/q?page=1&page_size=' + ${pageSize}}">1</a></li>
            <li th:if="${page > 4}"><span>...</span></li>
            <li th:each="i : ${#numbers.sequence(page - 2 > 0 ? page - 2 : 1, page + 2 < total / pageSize ? page + 2 : total / pageSize)}" th:class="${i == page} ? 'active' : ''" class="active">
              <span th:if="${i == page}" th:text="${page}">1</span>
              <a th:unless="${i == page}" href="#" th:href="@{'/q?page=' + ${i} + '&page_size=' + ${pageSize}}" th:text="${i}" th:attr="style=''" style="display: none">1</a>
            </li>
            <li th:if="${page < total / pageSize - 3}"><span>...</span></li>
            <li th:if="${page < total / pageSize - 2}"><a href="#" th:href="@{'/q?page=' + ${total / pageSize} + '&page_size=' + ${pageSize}}"}" th:text="${total / pageSize}">10</a></li>
            <li th:if="${page < total / pageSize}"><a href="#" th:href="@{'/q?page=' + ${page + 1} + '&page_size=' + ${pageSize}}">Next</a></li>
          </ul>
        </nav>

      </div><!--/* main */-->

      <div class="side">
        <h2>Recently updated</h2>
        <ul>
          <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
        </ul>
      </div>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
