<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="${question.title} + ' | ' + #{app.name}">TITLE | APPNAME</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="../../static/bundle.css" th:href="@{/bundle.css}" rel="stylesheet" type="text/css">
  </head>
  <body id="question">

    <header th:replace="fragments/header.html">
      <h1><a href="../" th:href="@{/}">Tiple</a></h1>
      <div class="auth-menus">
        <span sec:authentication="name" th:remove="tag">USER_NAME</span>
        <form action="/" th:action="@{/logout}" method="post">
          <button class="btn">Log out</button>
        </form>
      </div>
    </header>

    <div class="content">
      <div class="main">

        <h1 th:text="${question.title}">QUESTION_1</h1>
        <div class="question-details">
          <p th:text="${question.content}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="meta">
            <ul class="tags">
              <li class="tag" th:each="tag : ${question.tags}"><a href="../questions/index.html" th:href="'/q?tag=' + ${tag.name}" th:text="${tag.name}">TAG1</a></li>
              <li class="tag"><a href="../questions/index.html">TAG2</a></li>
            </ul>
            <div class="menus">
              <a href="#">share</a>
              <a href="#">improve this question</a>
            </div>
            <div class="posted-by">
              <div th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd HH:mm')}">posted YYYY_MM_DD</div>
              <div class="user">
                <a href="../users/show.html" th:href="@{'/users/' + ${question.createdBy.id}}"><img src=""></a>
                <a href="../users/show.html" th:text="${question.createdBy.id}" th:href="@{'/users/' + ${question.createdBy.id}}">USER_1</a>
              </div>
            </div>
            <div class="edited-by">
              <div th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd HH:mm')}">edited YYYY_MM_DD</div>
              <div class="user">
                <a href="../users/show.html" th:href="@{'/users/' + ${question.createdBy.id}}"><img src=""></a>
                <a href="../users/show.html" th:text="${question.createdBy.id}" th:href="@{'/users/' + ${question.createdBy.id}}">USER_1</a>
              </div>
            </div>
          </div>
        </div>

        <section>
          <h2><span>3</span> Answers</h2>
          <ul class="answers">
            <li class="answer" th:each="answer : ${answers}">
              <p th:text="${answer.content}">
                In consequat posuere justo ac hendrerit. Duis vehicula nisi eu est bibendum condimentum. Curabitur nec vulputate enim. Vivamus mattis at quam eget ornare. Integer nec facilisis lectus, ut aliquet purus. Donec felis orci, finibus euismod sollicitudin in, mollis vitae tellus. Mauris posuere orci a orci cursus, in faucibus magna hendrerit. Phasellus vitae molestie libero, at condimentum nulla. Vestibulum auctor cursus urna, id hendrerit nunc scelerisque non.
              </p>
              <div class="meta">
                <div class="menus">
                  <a href="#">share</a>
                  <a href="#">improve this question</a>
                </div>
                <div class="posted-by">
                  <div>posted YYYY_MM_DD</div>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_2</a>
                  </div>
                </div>
                <div class="edited-by">
                  <div>edited YYYY_MM_DD</div>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_2</a>
                  </div>
                </div>
              </div>
            </li>

            <li class="answer">
              <p>
                Morbi sed semper ante. Fusce pharetra massa vel risus imperdiet, non mattis sem sodales. Duis eleifend aliquam nisl et molestie. Aenean feugiat at ipsum a ullamcorper. Etiam pellentesque purus sem, placerat suscipit lectus fermentum sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas interdum metus id leo elementum, id dictum felis pellentesque. Pellentesque nibh lorem, viverra vitae sapien quis, tempor laoreet dolor. Cras commodo tellus eget libero accumsan, eget interdum nisl porta.
              </p>
              <div class="meta">
                <div class="menus">
                  <a href="#">share</a>
                  <a href="#">improve this question</a>
                </div>
                <div class="posted-by">
                  <span>posted YYYY_MM_DD</span>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_3</a>
                  </div>
                </div>
                <div class="edited-by">
                  <span>edited YYYY_MM_DD</span>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_3</a>
                  </div>
                </div>
              </div>
            </li>

            <li class="answer">
              <p>
                Nam a eros efficitur, tincidunt eros at, pellentesque lacus. Maecenas tincidunt turpis vitae orci eleifend, vel venenatis dui sodales. Proin cursus vel augue tempor dapibus. Nunc ligula orci, molestie et sollicitudin in, ornare a nisi. Donec ipsum ante, tristique non tortor ut, bibendum fringilla erat. Morbi luctus ultricies massa, vitae bibendum elit elementum a. Phasellus id bibendum eros. Nulla facilisi. Pellentesque vehicula mi ac magna vulputate, id vehicula eros pellentesque. Phasellus neque lorem, euismod ac scelerisque ut, eleifend non orci. Nunc at metus tortor.
              </p>
              <div class="meta">
                <div class="menus">
                  <a href="#">share</a>
                  <a href="#">improve this question</a>
                </div>
                <div class="posted-by">
                  <span>posted YYYY_MM_DD</span>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_4</a>
                  </div>
                </div>
                <div class="edited-by">
                  <span>edited YYYY_MM_DD</span>
                  <div class="user">
                    <a href="../users/show.html"><img src=""></a>
                    <a href="../users/show.html">USER_4</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <h2>Your answer</h2>
        <form id="ask-form" class="form" th:action="@{'/q/' + ${question.id} + '/answers'}" th:method="post">
          <div sec:authorize="hasAnyRole('ROLE_USER')">
            <textarea name="content"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" value="Post your answer" />
        </form>

      </div><!--/* main */-->

      <div class="side">
        <h2>Recently updated</h2>
        <ul>
          <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
        </ul>
      </div>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
