<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.keik.tiple.repository.AnswerRepository">

  <select id="getByQuestionId" resultMap="getByQuestionId-map">
    SELECT
      answer.id,
      answer.content,
      IFNULL(SUM(vote_for_answer.value), 0) AS votes_count,
      answer.created_by,
      answer.created_at
    FROM answer
    LEFT JOIN question ON answer.answer_for = question.id
    LEFT JOIN vote_for_answer ON answer.id = vote_for_answer.vote_for
    WHERE question.id = #{qid}
    GROUP BY answer.id
  </select>
  <resultMap id="getByQuestionId-map" type="info.keik.tiple.model.Answer">
    <id property="id" column="id" />
    <result property="content" column="content" />
    <result property="votesCount" column="votes_count" />
    <result property="createdBy.id" column="created_by" />
    <result property="createdAt" column="created_at" />
  </resultMap>

  <insert id="add" parameterType="info.keik.tiple.model.Answer">
    INSERT INTO answer (
      content,
      answer_for,
      created_by
    )
    VALUES (
      #{content},
      #{answerFor},
      #{createdBy.id}
    )
  </insert>

  <select id="getVote" resultType="Integer">
    SELECT value
    FROM vote_for_answer
    WHERE vote_for = #{id}
      AND created_by = #{userId}
  </select>

  <insert id="updateVote">
    INSERT INTO vote_for_answer (
      vote_for,
      created_by,
      value
    )
    VALUES (
      #{id},
      #{userId},
      #{value}
    )
    ON DUPLICATE KEY UPDATE
      value = #{value}
  </insert>

</mapper>
