<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title th:text="#{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}" type="text/css" />
  </head>
  <body>

    <div th:replace="fragments/header.html"></div>

    <div class="main">
      <nav>
        <ul>
          <li><a th:href="@{/q}">Questions</a></li>
          <li><a th:href="@{/tags}">Tags</a></li>
          <li><a>Users</a></li>
        </ul>
      </nav>

      <!-- DEV -->
      <form th:action="@{/user}" method="post">
        <input name="name"/>
        <input name="email"/>
        <button>Add user</button>
      </form>
      <a th:href="@{/user/0}">0</a>
      <a th:href="@{/user/1}">1</a>
      <a th:href="@{/user/2}">2</a>
      <!-- /DEV -->

    </div><!--/* main */-->

    <div class="side">
      <h2>Recently updated</h2>
      <ul>
        <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
      </ul>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
