<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title th:text="'Log in | ' + #{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}" type="text/css" />
  </head>
  <body>

    <h1>log in</h1>

    <form th:action="@{/session}" action="/" method="post">
      <label>ID: <input type="text" name="id" /></label>
      <label>Password: <input type="text" name="password" /></label>
      <button>Log in</button>
    </form>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
