<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}" type="text/css" />
  </head>
  <body>

    <div th:each="question : ${questions}">
      <a href="ticket.html" th:href="@{'/tickets/' + ${question.id}}" th:text="${question.title}">TITLE</a>
      <span th:text="${question.content}">THIS IS QUESTION'S CONTENT.</span>
    </div>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
