<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title th:text="'Log in | ' + #{app.name}">Log in | APP_NAME</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="../../fonts/css/font-awesome.css" th:href="@{/fonts/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <link href="../../static/bundle.css" th:href="@{/bundle.css}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <header th:replace="fragments/header.html">
      <h1><a href="home.html" th:href="@{/}">Tiple</a></h1>
      <div class="auth-menus">
        <span sec:authentication="name" th:remove="tag">USER_NAME</span>
        <form action="/" th:action="@{/logout}" method="post">
          <button class="btn">Log out</button>
        </form>
      </div>
    </header>

    <form class="panel form form-centered" th:action="@{/session}" action="/" method="post"
          th:object="${userForm}">
      <h2>log in</h2>
      <div class="panel panel-error panel-centered" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION} != null" th:text="#{msg.auth.failed}"></div>
      <div>
        <label>ID</label>
        <input type="text" name="id" />
        <ul class="errors" th:if="${#fields.hasErrors('id')}">
          <li th:each="err : ${#fields.errors('id')}" th:text="${err}" />
        </ul>
      </div>
      <div>
        <label>Password</label>
        <input type="text" name="password" />
        <ul class="errors" th:if="${#fields.hasErrors('password')}">
          <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
        </ul>
      </div>
      <input class="btn btn-default" type="submit" value="Log in" />
    </form>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
