<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title th:text="'All Questions | ' + #{app.name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}" type="text/css" />
  </head>
  <body>

    <div th:replace="fragments/header.html"></div>

    <div class="main">

      <h2>All questions</h2>

      <ul class="questions">
        <li class="question" th:each="question : ${questions}">
          <div class="status answered">
            <div class="middle-box">
              x
            </div>
          </div>
          <div class="ans-counts">
            <div class="middle-box">
              <span th:text="${question.answersCount}">1</span><br>
              answers
            </div>
          </div>
          <div class="summary">
            <h3><a href="question.html" th:href="@{'/q/' + ${question.id}}" th:text="${question.title}">TITLE</a></h3>
            <div class="meta">
              <ul class="tags" th:remove="all-but-first">
                <li th:each="tag : ${question.tags}"><a href="#" th:href="@{'/q?tag=' + ${tag.name}}" th:text="${tag.name}">javascript</a></li>
                <li><a href="#">node</a></li>
              </ul>
              <div class="right">
                <a th:text="${question.createdBy.id}" th:href="@{'/users/' + ${question.createdBy.id}}">USER</a>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <nav class="pagenations">
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </nav>

    </div><!--/* main */-->

    <div class="side">
      <h2>Recently updated</h2>
      <ul>
        <li th:each="q : ${recentryQuestions}"><a th:href="'/q/' + ${q.id}" th:text="${q.title}"></a></li>
      </ul>
    </div>

    <div th:replace="fragments/footer.html"></div>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
